.new__post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.new__post textarea {
  width: 100%;
  max-width: 500px;
  height: 80px;
  display: block;
  background-color: rgba(255, 255, 255, 0.842);
  resize: none;
}

.new__post textarea::placeholder {
  font-weight: 500;
  color: green;
  font-size: 20px;
}
.new__post button {
  padding: 10px;
  cursor: pointer;
}
